*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a {
  color: #000;
  text-decoration-color: #000;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}

span {
  pointer-events: none; /* Image tag wrapper - the background image even with negative image gets wrapped in a span that blocks clicks */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer {
  display: flex;
  flex: 1 1;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
  background: black;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 18px;
  width: 95vw;
  margin: 0 auto;
}
  
.footer a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.footer a:hover {
  color: yellow;
}

.pointer {
  cursor: pointer;
}

@media (max-width: 500px) {
  .footer {
    width: max-content;
    font-size: 26px;
  }
}

header {
  margin-block-end: 50px;
  margin-inline-start: 30px;
}

::-webkit-scrollbar {
  width: 1em;
  height: 1em
}
::-webkit-scrollbar-button {
  background: #e0e0e0
}
::-webkit-scrollbar-track-piece {
  background: #e0e0e0;
}
::-webkit-scrollbar-thumb {
  background: #544439;
}