.modal {
    background: #fff;
    border-radius: 20px;
    color: black;
    height: 150px;
    overflow-y: scroll;
    width: 200px;
    padding: 0;
    margin: 20px 0;
    line-height: 2;
}

.breed {
    cursor: pointer;
}